header {
    background-color: var(--clr-accent);
    padding: 16px 10px;
    color: #fff;
    display: flex;
    border-bottom: 16px solid var(--clr-acc2);
    justify-content: space-between;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    border-radius: 6px;
    background-color: var(--violet-50);
    color: var(--clr-acc2);
}

form {
    background-color: var(--slate-50);
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color: var(--clr-conf);
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

#btn-cancel {
    background-color: var(--clr-neg);
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
}

.overlay-imglink {
    padding: 16%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.overlay-imglink a {
    color: #fff;
    text-decoration: none;
}

ul li:hover .overlay-imglink a {
    opacity: 1;
}